{% extends 'base.html' %}
{% load static %}
{% block title %} home {% endblock title %}

{% block body %}

<div class="container about-container">
    <h2>About us</h2>
<!--     <img class="about-image" src="{% static 'ima3.png' %}" alt="About Me Image"> -->
    <p>
        Welcome to technicalrealm! We are a team of passionate writer who loves sharing our thoughts and experiences with the world. our blogs covers a wide range of topics, including technology , science , new gadgets
    </p>
    <p>
        Embark on this exhilarating journey with us, where bytes transform into groundbreaking ideas and code unlocks the potential to change the world. Get ready to explore, create, and embrace the possibilities of tomorrow in the ever-evolving landscape of technology. Together, let's venture into the digital frontier and pave the way for a brighter, smarter future. Welcome to the forefront of innovation - welcome to our technical blog!
    </p>
    <p>

        With a relentless pursuit of staying ahead of the digital curve, we strive to empower our readers with insightful articles, hands-on tutorials, and thought-provoking discussions on the latest trends shaping the tech world. Whether you're a seasoned developer seeking inspiration or an eager learner hungry for tech wisdom, our blog is your one-stop destination for all things tech!
    </p>
    <p>
        Thank you for visiting technical realm. I hope you find the content engaging and informative. Feel free to explore and leave your comments on the posts. Happy reading!  
    </p>
</div>


{% endblock body %}
