{% extends 'base.html' %}
{% load static %}
{% block title %} home {% endblock title %}

{% block body %}


<div class="post container">
    <img class="fit-image" src="/media/{{ posts.file }}" alt="Blog Cover Image" style="width: 100%;">
    <h1>{{ posts.topic }}</h1>

    <p>Published by technicalrealm</p>
    <p><h2>introduction</h2></p>
    <p>
        {{ posts.content }}
    </p>
    <p>
       <b> {{ posts.subheading1 }}</b>
    </p>
    <p>
        {{ posts.content1 }}
    </p>
    <p>
        <b>  {{ posts.subheading2 }}</b>
    </p>
    <p>
        {{ posts.content2 }}
    </p>
    <p>
        <b> {{ posts.subheading3 }}</b>
    </p>
    <p>
        {{ posts.content3 }}
    </p>
    <p>
        <b> {{ posts.subheading4 }}</b>
    </p>
    <p>
        {{ posts.content4 }}
    </p>
    <p>
        <b> {{ posts.subheading5 }}</b>
    </p>
    <p>
        {{ posts.content5 }}
    </p>
    <p>
        <b> {{ posts.subheading6 }}</b>
    </p>
    <p>
        {{ posts.content6 }}
    </p>
    <p>
        <b> {{ posts.subheading7 }}</b>
    </p>
    <p>
        {{ posts.content7 }}
    </p>
    <p>
        <b> {{ posts.subheading8 }}</b>
    </p>
    <p>
        {{ posts.content8 }}
    </p>
    <p>
        <b> {{ posts.subheading9 }}</b>
    </p>
    <p>
        {{ posts.content9 }}
    </p>
    <p>
        <b> {{ posts.subheading10 }}</b>
    </p>
    <p>
        {{ posts.content10 }}
    </p>
    <p>
        <b> {{ posts.subheading11 }}</b>
    </p>
    <p>
        {{ posts.content11 }}
    </p>
    <p>
        <b> {{ posts.subheading12 }}</b>
    </p>
    <p>
        {{ posts.content12 }}
    </p>
    <p>
        <b> {{ posts.subheading13 }}</b>
    </p>
    <p>
        {{ posts.content13 }}
    </p>
    <p>
        <b> {{ posts.subheading14 }}</b>
    </p>
    <p>
        {{ posts.content14 }}
    </p>
    <p>
        <b> {{ posts.subheading15 }}</b>
    </p>
    <p>
        {{ posts.content15 }}
    </p>
    <p>
        <b> {{ posts.subheading16 }}</b>
    </p>
    <p>
        {{ posts.content16 }}
    </p>
</div>


 
{% endblock body %}