{% extends 'base.html' %}
{% load static %}
{% block title %} home {% endblock title %}

{% block body %}

<div class="container">
    
    <h2>Privacy Policy</h2>
    <div class="privacy-policy-content">
        <p>
            This privacy policy outlines how our website collects, uses, maintains, and discloses information collected from users (each, a "User") of the website.
        </p>
        <!-- Add your privacy policy content here -->
        <p>
            Your privacy is important to us, and we are committed to safeguarding your personal information.
            We may collect personal identification information from Users in various ways, including when they visit our site, subscribe to the newsletter, or fill out a form.
            Users may visit our site anonymously, and we will collect personal identification information only if they voluntarily submit such information to us.
        </p>
        <!-- Add more privacy policy content as needed -->
    </div>
</div>
{% endblock body %}