{% extends 'base.html' %}
{% load static %}
{% block title %} home {% endblock title %}

{% block body %}
<div class="container">
    <h2>Terms and Conditions</h2>
    <div class="terms-and-conditions-content">
        <p>
            By accessing this website, you agree to be bound by these terms and conditions. If you disagree with any part of these terms and conditions, 
            you must not use this website.
        </p>
        <!-- Add your terms and conditions content here -->
        <p>
            The content provided on this website is for general informational purposes only. It is subject to change without notice.
            We do not provide any warranty or guarantee as to the accuracy, completeness, timeliness, performance, or suitability of the information 
            and materials found or offered on this website for any particular purpose.
        </p>
        <!-- Add more terms and conditions content as needed -->
    </div>
</div>



{% endblock body %}