{% extends 'base.html' %}
{% load static %}
{% block title %} home {% endblock title %}

{% block body %}


<div class="post container">
    <img class="fit-image" src="/media/{{ posts.top_file }}" alt="Blog Cover Image" style="width: 70%;">
    <h1>{{ posts.top_topic }}</h1>

    <p>Published by technicalrealm</p>
    <p>
    <h2>introduction</h2>
    </p>
    <p>
        {{ posts.top_content }}
    </p>
    <p>
        <b> {{ posts.ck|safe}}</b>
    </p>
</div>

<!-- comment section -->


<!-- <div class="comment-container container">
    <div class="comment-form">
        <textarea placeholder="Add your comment..."></textarea>
        <button type="submit">Submit</button>
    </div>
    <div class="comment">
        <div class="author">John Doe</div>
    <div class="date">Posted on July 20, 2023</div>
    <p>
        This is a great blog post! I really enjoyed reading it. Keep up the good work!
    </p>
</div>

<div class="comment">
    <div class="author">Jane Smith</div>
    <div class="date">Posted on July 21, 2023</div>
    <p>
        Thanks for sharing this valuable information. It helped me a lot in my project.
    </p>
</div>

</div> -->
<!-- Add more comments here -->


{% endblock body %}
