{% extends 'base.html' %}
{% load static %}
{% block title %} home {% endblock title %}

{% block body %}


<div class="post container">
    <img class="fit-image" src="/media/{{ posts.top_file }}" alt="Blog Cover Image" style="width: 70%;">
    <h1>{{ posts.top_topic }}</h1>

    <p>Published by technicalrealm</p>
    <p>
    <h2>introduction</h2>
    </p>
    <p>
        {{ posts.top_content }}
    </p>
    <p>
        <b> {{ posts.top_subheading1 }}</b>
    </p>
    <p>
        {{ posts.top_content1 }}
    </p>
    <p>
        <b> {{ posts.top_subheading2 }}</b>
    </p>
    <p>
        {{ posts.top_content2 }}
    </p>
    <p>
        <b> {{ posts.top_subheading3 }}</b>
    </p>
    <p>
        {{ posts.top_content3 }}
    </p>
    <p>
        <b> {{ posts.top_subheading4 }}</b>
    </p>
    <p>
        {{ posts.top_content4 }}
    </p>
    <p>
        <b> {{ posts.top_subheading5 }}</b>
    </p>
    <p>
        {{ posts.top_content5 }}
    </p>
    <p>
        <b> {{ posts.top_subheading6 }}</b>
    </p>
    <p>
        {{ posts.top_content6 }}
    </p>
    <p>
        <b> {{ posts.top_subheading7 }}</b>
    </p>
    <p>
        {{ posts.top_content7 }}
    </p>
    <p>
        <b> {{ posts.top_subheading8 }}</b>
    </p>
    <p>
        {{ posts.top_content8 }}
    </p>
    <p>
        <b> {{ posts.top_subheading9 }}</b>
    </p>
    <p>
        {{ posts.top_content9 }}
    </p>
    <p>
        <b> {{ posts.top_subheading10 }}</b>
    </p>
    <p>
        {{ posts.top_content10 }}
    </p>
    <p>
        <b> {{ posts.top_subheading11 }}</b>
    </p>
    <p>
        {{ posts.top_content11 }}
    </p>
    <p>
        <b> {{ posts.top_subheading12 }}</b>
    </p>
    <p>
        {{ posts.top_content12 }}
    </p>
    <p>
        <b> {{ posts.top_subheading13 }}</b>
    </p>
    <p>
        {{ posts.top_content13 }}
    </p>
    <p>
        <b> {{ posts.top_subheading14 }}</b>
    </p>
    <p>
        {{ posts.top_content14 }}
    </p>
    <p>
        <b> {{ posts.top_subheading15 }}</b>
    </p>
    <p>
        {{ posts.top_content15 }}
    </p>
    <p>
        <b> {{ posts.top_subheading16 }}</b>
    </p>
    <p>
        {{ posts.top_content16 }}
    </p>

</div>

<!-- comment section -->


<!-- <div class="comment-container container">
    <div class="comment-form">
        <textarea placeholder="Add your comment..."></textarea>
        <button type="submit">Submit</button>
    </div>
    <div class="comment">
        <div class="author">John Doe</div>
    <div class="date">Posted on July 20, 2023</div>
    <p>
        This is a great blog post! I really enjoyed reading it. Keep up the good work!
    </p>
</div>

<div class="comment">
    <div class="author">Jane Smith</div>
    <div class="date">Posted on July 21, 2023</div>
    <p>
        Thanks for sharing this valuable information. It helped me a lot in my project.
    </p>
</div>

</div> -->
<!-- Add more comments here -->


{% endblock body %}
